 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
 }

 .login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: transparent;
  perspective: 1200px;
}

/* Glass Card */
.login-card {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
  animation: float 4s ease-in-out infinite;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

 
/* Input Styling */
.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  font-size: 14px;
}

.input-group select option {
  color: black;
}

.input-group label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #ccc;
  pointer-events: none;
  transition: 0.3s;
}
#BHK {
 
  background: #243b55;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label,
.input-group select:focus ~ label,
.input-group select:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: #00f2fe;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}



@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* button loader */
.loader {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border: 2px solid rgba(255,255,255,0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin .8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}